* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

.navbar {
   width: 100%;
   height: 75px;
   background: #222222;
   position: fixed;
   z-index: inherit;
   top: 0;
}

.navbar__wrapper {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 1140px;
   padding-top: 15px;
}

.navbar__icons {
   display: flex;
}

.navbar__icon {
   width: 44px;
   height: 44px;
   margin: 0 17px;
   background: #eeee72;
}

.navbar__icons:nth-child(1) {
   float: left;
   margin-left: -17px;
}

.navbar__icons:last-child {
   float: right;
   margin-right: -17px;
}

section {
   height: 764px;
   background: #f1e4e6;
   width: 100%;
   margin-top: 75px;
   /* height: 100%; */
}

.section__wrapper {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 1140px;
}

.footer {
   width: 100%;
   height: 79px;
   background: #222222;
}

.footer__wrapper {
   max-width: 1140px;
   width: 100%;
   height: 100%;
   display: flex;
}

.copyright {
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   color: #fbfbfb;
}

.social-icon {
   width: 32px;
   height: 32px;
   background-color: #ffffff;
   color: black;
}
