* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

.navbar {
   width: 100%;
   height: 75px;
   background-color: #222222;
   position: fixed;
   z-index: 3; /* inherit*/
   top: 0;
}

.navbar__wrapper {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 1140px;
   padding-top: 15px;
}

.navbar__icons {
   display: flex;
}

.navbar__icon {
   width: 44px;
   height: 44px;
   margin: 0 17px;
   background: #eeee72;
}

.navbar__icons:nth-child(1) {
   float: left;
   margin-left: -17px;
}

.navbar__icons:last-child {
   float: right;
   margin-right: -17px;
}

.section--intro {
   height: 764px;
   background: #f1e4e6;
   width: 100%;
   margin-top: 75px;
   /* height: 100%; */
}

.section__wrapper {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 1140px;
}

.footer {
   width: 100%;
   height: 79px;
   background: #222222;
   display: flex;
   justify-content: center;
}

.footer__wrapper {
   max-width: 1140px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.spacer {
   flex-grow: 1;
}
.copyright {
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   color: #fbfbfb;
}

.social-icons {
   display: flex;
   align-items: center;
   gap: 7px;
}

.social-icon {
   width: 32px;
   height: 32px;
   background-color: #ffffff;
   color: black;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.social-icon:hover {
   background-color: #f16d7f;
   color: white;
}

.section--advantages {
   background-color: #222222;
   width: 100%;
   display: flex;
   justify-content: center;
}
.section--advantages .section__wrapper {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin: 104px 0;
}

.advantage {
   display: flex;
   flex-direction: column;
   font-family: Lato;
   align-items: center;
}
.advantage__icon {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   background-color: #f16d7f;
   margin-bottom: 19px;
}
.advantage__title {
   font-size: 20px;
   line-height: 24px;
   color: #fbfbfb;
   margin-bottom: 16px;
}
.advantage__subtitle {
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #fbfbfb;
}
.section--subscribe {
   background-image: url("img/sub_back.svg");
   background-size: cover;
   background-position: center;
}
.section--subscribe .section__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.ssubscription-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Lato;
}
.subscription-form__title {
   font-weight: bold;
   font-size: 24px;
   line-height: 38px;
   color: #222224;
   text-align: center;
}
.subscription-form__subtitle {
   font-size: 18px;
   line-height: 30px;
   color: #222224;
}
.subscription-form__inputs {
   display: flex;
   align-items: center;
   justify-content: center;
}
.subscription-form__input {
   width: 256px;
   height: 49px;
   background: #e1e1e1;
   border-radius: 25px 0 0 25px;
   border: none;
   padding: 0 22px;
}
.subscription-form__button {
   background: #f16d7f;
   border-radius: 0 25px 25px 0;
   color: #ffffff;
   height: 49px;
   border: none;
   width: 100px;
   cursor: pointer;
}
/* Fetured Item Card */

.card {
   width: 100%;
   max-width: 360px;
   margin: 0;
}
.card__picture {
   position: relative;
   width: 100%;
}
.card__img {
   max-width: 100%;
   height: auto;
   align-self: flex-start;
}
.card__hover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(58, 56, 56, 0.86);
   opacity: 0;
   visibility: hidden;
   transition: opacite 0.3s ease;
}

.card__picture:hover .card__hover {
   visibility: visible;
   opacity: 1;
}

.card__info {
   width: 100%;
   height: 160px;
   background: #f8f8f8;
   padding: 24px 20px 20px;
}

.card__btn {
   border: 1px solid #ffffff;
   color: #ffffff;
   outline: none;
   background: none;
}
